In [2]:
import os
import pandas as pd
os.chdir("C:\\Users\\Poori\\Desktop\\Udemy\\A-Z Machine learning Kaggle\\Github\\DataSet")

In [3]:
df=pd.read_csv("titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df[df['Sex']=='male']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
df[df['Sex']=='female']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [14]:
df['Fare'].mean()

32.2042079685746

In [15]:
df['Fare'].max()

512.3292

In [16]:
df['Fare'].min()

0.0

In [17]:
df['Age'].max()

80.0

In [18]:
df['Age'].min()

0.42

In [19]:
df.groupby(['Sex'])['Survived'].count()

Sex
female    314
male      577
Name: Survived, dtype: int64

In [20]:
df.groupby(['Sex'])['Pclass'].count()

Sex
female    314
male      577
Name: Pclass, dtype: int64

In [22]:
df.groupby(['Sex'])['Fare'].mean()

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

In [23]:
df.groupby(['Sex'])['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [24]:
df.groupby(['Sex', 'Pclass'])['Age'].mean()

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64

In [25]:
df.groupby(['Sex'])['Age'].std()

Sex
female    14.110146
male      14.678201
Name: Age, dtype: float64

In [26]:
df.groupby(['Sex', 'Pclass'])['Age'].std()

Sex     Pclass
female  1         13.612052
        2         12.872702
        3         12.729964
male    1         15.139570
        2         14.793894
        3         12.159514
Name: Age, dtype: float64

In [27]:
#iterations
for index, rows in df.iterrows():
    print(index, rows)

0 PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object
1 PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
2 PassengerId                         3
Survived                            1
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                                26
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object
3 PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
4 PassengerId                           5
Survived                              0
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                  35
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object
5 PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
6 PassengerId                          7
Survived                             0
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                                 54
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object
7 PassengerId                                 8
Survived                                    0
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                         2
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object
8 PassengerId                                                    9
Survived                                                       1
Pclass                                                         3
Name           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                       female
Age                                                           27
SibSp                                                          0
Parch                                                          2
Ticket                                                    347742
Fare                                                     11.1333
Cabin                                                        NaN
Embarked                                                       S
Name: 8, dtype: object
9 PassengerId                                     10
Survived                                         1
Pclass                                           2
Name           Nasser, Mrs. Nicholas (Adele Achem)
Sex                                         female
Age                                             14
SibSp                                            1
Parch                                            0
Ticket                                      237736
Fare                                       30.0708
Cabin                                          NaN
Embarked                                         C
Name: 9, dtype: object
10 PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                          4
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object
11 PassengerId                          12
Survived                              1
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                  58
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object
12 PassengerId                                13
Survived                                    0
Pclass                                      3
Name           Saundercock, Mr. William Henry
Sex                                      male
Age                                        20
SibSp                                       0
Parch                                       0
Ticket                              A/5. 2151
Fare                                     8.05
Cabin                                     NaN
Embarked                                    S
Name: 12, dtype: object
13 PassengerId                             14
Survived                                 0
Pclass                                   3
Name           Andersson, Mr. Anders Johan
Sex                                   male
Age                                     39
SibSp                                    1
Parch                                    5
Ticket                              347082
Fare                                31.275
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object
14 PassengerId                                      15
Survived                                          0
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                              14
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Name: 14, dtype: object
15 PassengerId                                  16
Survived                                      1
Pclass                                        2
Name           Hewlett, Mrs. (Mary D Kingcome)
Sex                                      female
Age                                          55
SibSp                                         0
Parch                                         0
Ticket                                   248706
Fare                                         16
Cabin                                       NaN
Embarked                                      S
Name: 15, dtype: object
16 PassengerId                      17
Survived                          0
Pclass                            3
Name           Rice, Master. Eugene
Sex                            male
Age                               2
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Name: 16, dtype: object
17 PassengerId                              18
Survived                                  1
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object
18 PassengerId                                                   19
Survived                                                       0
Pclass                                                         3
Name           Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                       female
Age                                                           31
SibSp                                                          1
Parch                                                          0
Ticket                                                    345763
Fare                                                          18
Cabin                                                        NaN
Embarked                                                       S
Name: 18, dtype: object
19 PassengerId                         20
Survived                             1
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object
20 PassengerId                      21
Survived                          0
Pclass                            2
Name           Fynney, Mr. Joseph J
Sex                            male
Age                              35
SibSp                             0
Parch                             0
Ticket                       239865
Fare                             26
Cabin                           NaN
Embarked                          S
Name: 20, dtype: object
21 PassengerId                       22
Survived                           1
Pclass                             2
Name           Beesley, Mr. Lawrence
Sex                             male
Age                               34
SibSp                              0
Parch                              0
Ticket                        248698
Fare                              13
Cabin                            D56
Embarked                           S
Name: 21, dtype: object
22 PassengerId                             23
Survived                                 1
Pclass                                   3
Name           McGowan, Miss. Anna "Annie"
Sex                                 female
Age                                     15
SibSp                                    0
Parch                                    0
Ticket                              330923
Fare                                8.0292
Cabin                                  NaN
Embarked                                 Q
Name: 22, dtype: object
23 PassengerId                              24
Survived                                  1
Pclass                                    1
Name           Sloper, Mr. William Thompson
Sex                                    male
Age                                      28
SibSp                                     0
Parch                                     0
Ticket                               113788
Fare                                   35.5
Cabin                                    A6
Embarked                                  S
Name: 23, dtype: object
24 PassengerId                               25
Survived                                   0
Pclass                                     3
Name           Palsson, Miss. Torborg Danira
Sex                                   female
Age                                        8
SibSp                                      3
Parch                                      1
Ticket                                349909
Fare                                  21.075
Cabin                                    NaN
Embarked                                   S
Name: 24, dtype: object
25 PassengerId                                                   26
Survived                                                       1
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object
26 PassengerId                         27
Survived                             0
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 26, dtype: object
27 PassengerId                                28
Survived                                    0
Pclass                                      1
Name           Fortune, Mr. Charles Alexander
Sex                                      male
Age                                        19
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                      263
Cabin                             C23 C25 C27
Embarked                                    S
Name: 27, dtype: object
28 PassengerId                               29
Survived                                   1
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object
29 PassengerId                     30
Survived                         0
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object
30 PassengerId                          31
Survived                              0
Pclass                                1
Name           Uruchurtu, Don. Manuel E
Sex                                male
Age                                  40
SibSp                                 0
Parch                                 0
Ticket                         PC 17601
Fare                            27.7208
Cabin                               NaN
Embarked                              C
Name: 30, dtype: object
31 PassengerId                                                32
Survived                                                    1
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                  146.521
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object
32 PassengerId                          33
Survived                              1
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 32, dtype: object
33 PassengerId                       34
Survived                           0
Pclass                             2
Name           Wheadon, Mr. Edward H
Sex                             male
Age                               66
SibSp                              0
Parch                              0
Ticket                    C.A. 24579
Fare                            10.5
Cabin                            NaN
Embarked                           S
Name: 33, dtype: object
34 PassengerId                         35
Survived                             0
Pclass                               1
Name           Meyer, Mr. Edgar Joseph
Sex                               male
Age                                 28
SibSp                                1
Parch                                0
Ticket                        PC 17604
Fare                           82.1708
Cabin                              NaN
Embarked                             C
Name: 34, dtype: object

318 PassengerId                         319
Survived                              1
Pclass                                1
Name           Wick, Miss. Mary Natalie
Sex                              female
Age                                  31
SibSp                                 0
Parch                                 2
Ticket                            36928
Fare                            164.867
Cabin                                C7
Embarked                              S
Name: 318, dtype: object
319 PassengerId                                                  320
Survived                                                       1
Pclass                                                         1
Name           Spedden, Mrs. Frederic Oakley (Margaretta Corn...
Sex                                                       female
Age                                                           40
SibSp                                                          1
Parch                                                          1
Ticket                                                     16966
Fare                                                       134.5
Cabin                                                        E34
Embarked                                                       C
Name: 319, dtype: object
320 PassengerId                   321
Survived                        0
Pclass                          3
Name           Dennis, Mr. Samuel
Sex                          male
Age                            22
SibSp                           0
Parch                           0
Ticket                  A/5 21172
Fare                         7.25
Cabin                         NaN
Embarked                        S
Name: 320, dtype: object
321 PassengerId                 322
Survived                      0
Pclass                        3
Name           Danoff, Mr. Yoto
Sex                        male
Age                          27
SibSp                         0
Parch                         0
Ticket                   349219
Fare                     7.8958
Cabin                       NaN
Embarked                      S
Name: 321, dtype: object
322 PassengerId                          323
Survived                               1
Pclass                                 2
Name           Slayter, Miss. Hilda Mary
Sex                               female
Age                                   30
SibSp                                  0
Parch                                  0
Ticket                            234818
Fare                               12.35
Cabin                                NaN
Embarked                               Q
Name: 322, dtype: object
323 PassengerId                                                  324
Survived                                                       1
Pclass                                                         2
Name           Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
Sex                                                       female
Age                                                           22
SibSp                                                          1
Parch                                                          1
Ticket                                                    248738
Fare                                                          29
Cabin                                                        NaN
Embarked                                                       S
Name: 323, dtype: object
324 PassengerId                         325
Survived                              0
Pclass                                3
Name           Sage, Mr. George John Jr
Sex                                male
Age                                 NaN
SibSp                                 8
Parch                                 2
Ticket                         CA. 2343
Fare                              69.55
Cabin                               NaN
Embarked                              S
Name: 324, dtype: object
325 PassengerId                         326
Survived                              1
Pclass                                1
Name           Young, Miss. Marie Grice
Sex                              female
Age                                  36
SibSp                                 0
Parch                                 0
Ticket                         PC 17760
Fare                            135.633
Cabin                               C32
Embarked                              C
Name: 325, dtype: object
326 PassengerId                          327
Survived                               0
Pclass                                 3
Name           Nysveen, Mr. Johan Hansen
Sex                                 male
Age                                   61
SibSp                                  0
Parch                                  0
Ticket                            345364
Fare                              6.2375
Cabin                                NaN
Embarked                               S
Name: 326, dtype: object
327 PassengerId                        328
Survived                             1
Pclass                               2
Name           Ball, Mrs. (Ada E Hall)
Sex                             female
Age                                 36
SibSp                                0
Parch                                0
Ticket                           28551
Fare                                13
Cabin                                D
Embarked                             S
Name: 327, dtype: object
328 PassengerId                                               329
Survived                                                    1
Pclass                                                      3
Name           Goldsmith, Mrs. Frank John (Emily Alice Brown)
Sex                                                    female
Age                                                        31
SibSp                                                       1
Parch                                                       1
Ticket                                                 363291
Fare                                                   20.525
Cabin                                                     NaN
Embarked                                                    S
Name: 328, dtype: object
329 PassengerId                             330
Survived                                  1
Pclass                                    1
Name           Hippach, Miss. Jean Gertrude
Sex                                  female
Age                                      16
SibSp                                     0
Parch                                     1
Ticket                               111361
Fare                                57.9792
Cabin                                   B18
Embarked                                  C
Name: 329, dtype: object
330 PassengerId                   331
Survived                        1
Pclass                          3
Name           McCoy, Miss. Agnes
Sex                        female
Age                           NaN
SibSp                           2
Parch                           0
Ticket                     367226
Fare                        23.25
Cabin                         NaN
Embarked                        Q
Name: 330, dtype: object
331 PassengerId                    332
Survived                         0
Pclass                           1
Name           Partner, Mr. Austen
Sex                           male
Age                           45.5
SibSp                            0
Parch                            0
Ticket                      113043
Fare                          28.5
Cabin                         C124
Embarked                         S
Name: 331, dtype: object
332 PassengerId                          333
Survived                               0
Pclass                                 1
Name           Graham, Mr. George Edward
Sex                                 male
Age                                   38
SibSp                                  0
Parch                                  1
Ticket                          PC 17582
Fare                             153.463
Cabin                                C91
Embarked                               S
Name: 332, dtype: object
333 PassengerId                                334
Survived                                     0
Pclass                                       3
Name           Vander Planke, Mr. Leo Edmondus
Sex                                       male
Age                                         16
SibSp                                        2
Parch                                        0
Ticket                                  345764
Fare                                        18
Cabin                                      NaN
Embarked                                     S
Name: 333, dtype: object
334 PassengerId                                                  335
Survived                                                       1
Pclass                                                         1
Name           Frauenthal, Mrs. Henry William (Clara Heinshei...
Sex                                                       female
Age                                                          NaN
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17611
Fare                                                      133.65
Cabin                                                        NaN
Embarked                                                       S
Name: 334, dtype: object
335 PassengerId                   336
Survived                        0
Pclass                          3
Name           Denkoff, Mr. Mitto
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                     349225
Fare                       7.8958
Cabin                         NaN
Embarked                        S
Name: 335, dtype: object
336 PassengerId                          337
Survived                               0
Pclass                                 1
Name           Pears, Mr. Thomas Clinton
Sex                                 male
Age                                   29
SibSp                                  1
Parch                                  0
Ticket                            113776
Fare                                66.6
Cabin                                 C2
Embarked                               S
Name: 336, dtype: object
337 PassengerId                                338
Survived                                     1
Pclass                                       1
Name           Burns, Miss. Elizabeth Margaret
Sex                                     female
Age                                         41
SibSp                                        0
Parch                                        0
Ticket                                   16966
Fare                                     134.5
Cabin                                      E40
Embarked                                     C
Name: 337, dtype: object
338 PassengerId                      339
Survived                           1
Pclass                             3
Name           Dahl, Mr. Karl Edwart
Sex                             male
Age                               45
SibSp                              0
Parch                              0
Ticket                          7598
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 338, dtype: object
339 PassengerId                             340
Survived                                  0
Pclass                                    1
Name           Blackwell, Mr. Stephen Weart
Sex                                    male
Age                                      45
SibSp                                     0
Parch                                     0
Ticket                               113784
Fare                                   35.5
Cabin                                     T
Embarked                                  S
Name: 339, dtype: object
340 PassengerId                               341
Survived                                    1
Pclass                                      2
Name           Navratil, Master. Edmond Roger
Sex                                      male
Age                                         2
SibSp                                       1
Parch                                       1
Ticket                                 230080
Fare                                       26
Cabin                                      F2
Embarked                                    S
Name: 340, dtype: object
341 PassengerId                               342
Survived                                    1
Pclass                                      1
Name           Fortune, Miss. Alice Elizabeth
Sex                                    female
Age                                        24
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                      263
Cabin                             C23 C25 C27
Embarked                                    S
Name: 341, dtype: object
342 PassengerId                           343
Survived                                0
Pclass                                  2
Name           Collander, Mr. Erik Gustaf
Sex                                  male
Age                                    28
SibSp                                   0
Parch                                   0
Ticket                             248740
Fare                                   13
Cabin                                 NaN
Embarked                                S
Name: 342, dtype: object
343 PassengerId                                           344
Survived                                                0
Pclass                                                  2
Name           Sedgwick, Mr. Charles Frederick Waddington
Sex                                                  male
Age                                                    25
SibSp                                                   0
Parch                                                   0
Ticket                                             244361
Fare                                                   13
Cabin                                                 NaN
Embarked                                                S
Name: 343, dtype: object
344 PassengerId                        345
Survived                             0
Pclass                               2
Name           Fox, Mr. Stanley Hubert
Sex                               male
Age                                 36
SibSp                                0
Parch                                0
Ticket                          229236
Fare                                13
Cabin                              NaN
Embarked                             S
Name: 344, dtype: object
345 PassengerId                              346
Survived                                   1
Pclass                                     2
Name           Brown, Miss. Amelia "Mildred"
Sex                                   female
Age                                       24
SibSp                                      0
Parch                                      0
Ticket                                248733
Fare                                      13
Cabin                                    F33
Embarked                                   S
Name: 345, dtype: object
346 PassengerId                          347
Survived                               1
Pclass                                 2
Name           Smith, Miss. Marion Elsie
Sex                               female
Age                                   40
SibSp                                  0
Parch                                  0
Ticket                             31418
Fare                                  13
Cabin                                NaN
Embarked                               S
Name: 346, dtype: object
347 PassengerId                                          348
Survived                                               1
Pclass                                                 3
Name           Davison, Mrs. Thomas Henry (Mary E Finck)
Sex                                               female
Age                                                  NaN
SibSp                                                  1
Parch                                                  0
Ticket                                            386525
Fare                                                16.1
Cabin                                                NaN
Embarked                                               S
Name: 347, dtype: object
348 PassengerId                                       349
Survived                                            1
Pclass                                              3
Name           Coutts, Master. William Loch "William"
Sex                                              male
Age                                                 3
SibSp                                               1
Parch                                               1
Ticket                                     C.A. 37671
Fare                                             15.9
Cabin                                             NaN
Embarked                                            S
Name: 348, dtype: object
349 PassengerId                 350
Survived                      0
Pclass                        3
Name           Dimic, Mr. Jovan
Sex                        male
Age                          42
SibSp                         0
Parch                         0
Ticket                   315088
Fare                     8.6625
Cabin                       NaN
Embarked                      S
Name: 349, dtype: object
350 PassengerId                       351
Survived                            0
Pclass                              3
Name           Odahl, Mr. Nils Martin
Sex                              male
Age                                23
SibSp                               0
Parch                               0
Ticket                           7267
Fare                            9.225
Cabin                             NaN
Embarked                            S
Name: 350, dtype: object
351 PassengerId                                       352
Survived                                            0
Pclass                                              1
Name           Williams-Lambert, Mr. Fletcher Fellows
Sex                                              male
Age                                               NaN
SibSp                                               0
Parch                                               0
Ticket                                         113510
Fare                                               35
Cabin                                            C128
Embarked                                            S
Name: 351, dtype: object
352 PassengerId                   353
Survived                        0
Pclass                          3
Name           Elias, Mr. Tannous
Sex                          male
Age                            15
SibSp                           1
Parch                           1
Ticket                       2695
Fare                       7.2292
Cabin                         NaN
Embarked                        C
Name: 352, dtype: object
353 PassengerId                          354
Survived                               0
Pclass                                 3
Name           Arnold-Franchi, Mr. Josef
Sex                                 male
Age                                   25
SibSp                                  1
Parch                                  0

Name: 411, dtype: object
412 PassengerId                       413
Survived                            1
Pclass                              1
Name           Minahan, Miss. Daisy E
Sex                            female
Age                                33
SibSp                               1
Parch                               0
Ticket                          19928
Fare                               90
Cabin                             C78
Embarked                            Q
Name: 412, dtype: object
413 PassengerId                               414
Survived                                    0
Pclass                                      2
Name           Cunningham, Mr. Alfred Fleming
Sex                                      male
Age                                       NaN
SibSp                                       0
Parch                                       0
Ticket                                 239853
Fare                                        0
Cabin                                     NaN
Embarked                                    S
Name: 413, dtype: object
414 PassengerId                          415
Survived                               1
Pclass                                 3
Name           Sundman, Mr. Johan Julian
Sex                                 male
Age                                   44
SibSp                                  0
Parch                                  0
Ticket                 STON/O 2. 3101269
Fare                               7.925
Cabin                                NaN
Embarked                               S
Name: 414, dtype: object
415 PassengerId                                        416
Survived                                             0
Pclass                                               3
Name           Meek, Mrs. Thomas (Annie Louise Rowley)
Sex                                             female
Age                                                NaN
SibSp                                                0
Parch                                                0
Ticket                                          343095
Fare                                              8.05
Cabin                                              NaN
Embarked                                             S
Name: 415, dtype: object
416 PassengerId                                                417
Survived                                                     1
Pclass                                                       2
Name           Drew, Mrs. James Vivian (Lulu Thorne Christian)
Sex                                                     female
Age                                                         34
SibSp                                                        1
Parch                                                        1
Ticket                                                   28220
Fare                                                      32.5
Cabin                                                      NaN
Embarked                                                     S
Name: 416, dtype: object
417 PassengerId                              418
Survived                                   1
Pclass                                     2
Name           Silven, Miss. Lyyli Karoliina
Sex                                   female
Age                                       18
SibSp                                      0
Parch                                      2
Ticket                                250652
Fare                                      13
Cabin                                    NaN
Embarked                                   S
Name: 417, dtype: object
418 PassengerId                           419
Survived                                0
Pclass                                  2
Name           Matthews, Mr. William John
Sex                                  male
Age                                    30
SibSp                                   0
Parch                                   0
Ticket                              28228
Fare                                   13
Cabin                                 NaN
Embarked                                S
Name: 418, dtype: object
419 PassengerId                          420
Survived                               0
Pclass                                 3
Name           Van Impe, Miss. Catharina
Sex                               female
Age                                   10
SibSp                                  0
Parch                                  2
Ticket                            345773
Fare                               24.15
Cabin                                NaN
Embarked                               S
Name: 419, dtype: object
420 PassengerId                       421
Survived                            0
Pclass                              3
Name           Gheorgheff, Mr. Stanio
Sex                              male
Age                               NaN
SibSp                               0
Parch                               0
Ticket                         349254
Fare                           7.8958
Cabin                             NaN
Embarked                            C
Name: 420, dtype: object
421 PassengerId                    422
Survived                         0
Pclass                           3
Name           Charters, Mr. David
Sex                           male
Age                             21
SibSp                            0
Parch                            0
Ticket                  A/5. 13032
Fare                        7.7333
Cabin                          NaN
Embarked                         Q
Name: 421, dtype: object
422 PassengerId                   423
Survived                        0
Pclass                          3
Name           Zimmerman, Mr. Leo
Sex                          male
Age                            29
SibSp                           0
Parch                           0
Ticket                     315082
Fare                        7.875
Cabin                         NaN
Embarked                        S
Name: 422, dtype: object
423 PassengerId                                                  424
Survived                                                       0
Pclass                                                         3
Name           Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...
Sex                                                       female
Age                                                           28
SibSp                                                          1
Parch                                                          1
Ticket                                                    347080
Fare                                                        14.4
Cabin                                                        NaN
Embarked                                                       S
Name: 423, dtype: object
424 PassengerId                            425
Survived                                 0
Pclass                                   3
Name           Rosblom, Mr. Viktor Richard
Sex                                   male
Age                                     18
SibSp                                    1
Parch                                    1
Ticket                              370129
Fare                               20.2125
Cabin                                  NaN
Embarked                                 S
Name: 424, dtype: object
425 PassengerId                       426
Survived                            0
Pclass                              3
Name           Wiseman, Mr. Phillippe
Sex                              male
Age                               NaN
SibSp                               0
Parch                               0
Ticket                     A/4. 34244
Fare                             7.25
Cabin                             NaN
Embarked                            S
Name: 425, dtype: object
426 PassengerId                                            427
Survived                                                 1
Pclass                                                   2
Name           Clarke, Mrs. Charles V (Ada Maria Winfield)
Sex                                                 female
Age                                                     28
SibSp                                                    1
Parch                                                    0
Ticket                                                2003
Fare                                                    26
Cabin                                                  NaN
Embarked                                                 S
Name: 426, dtype: object
427 PassengerId                                                  428
Survived                                                       1
Pclass                                                         2
Name           Phillips, Miss. Kate Florence ("Mrs Kate Louis...
Sex                                                       female
Age                                                           19
SibSp                                                          0
Parch                                                          0
Ticket                                                    250655
Fare                                                          26
Cabin                                                        NaN
Embarked                                                       S
Name: 427, dtype: object
428 PassengerId                 429
Survived                      0
Pclass                        3
Name           Flynn, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   364851
Fare                       7.75
Cabin                       NaN
Embarked                      Q
Name: 428, dtype: object
429 PassengerId                                   430
Survived                                        1
Pclass                                          3
Name           Pickard, Mr. Berk (Berk Trembisky)
Sex                                          male
Age                                            32
SibSp                                           0
Parch                                           0
Ticket                          SOTON/O.Q. 392078
Fare                                         8.05
Cabin                                         E10
Embarked                                        S
Name: 429, dtype: object
430 PassengerId                                          431
Survived                                               1
Pclass                                                 1
Name           Bjornstrom-Steffansson, Mr. Mauritz Hakan
Sex                                                 male
Age                                                   28
SibSp                                                  0
Parch                                                  0
Ticket                                            110564
Fare                                               26.55
Cabin                                                C52
Embarked                                               S
Name: 430, dtype: object
431 PassengerId                                                  432
Survived                                                       1
Pclass                                                         3
Name           Thorneycroft, Mrs. Percival (Florence Kate White)
Sex                                                       female
Age                                                          NaN
SibSp                                                          1
Parch                                                          0
Ticket                                                    376564
Fare                                                        16.1
Cabin                                                        NaN
Embarked                                                       S
Name: 431, dtype: object
432 PassengerId                                                  433
Survived                                                       1
Pclass                                                         2
Name           Louch, Mrs. Charles Alexander (Alice Adelaide ...
Sex                                                       female
Age                                                           42
SibSp                                                          1
Parch                                                          0
Ticket                                                SC/AH 3085
Fare                                                          26
Cabin                                                        NaN
Embarked                                                       S
Name: 432, dtype: object
433 PassengerId                           434
Survived                                0
Pclass                                  3
Name           Kallio, Mr. Nikolai Erland
Sex                                  male
Age                                    17
SibSp                                   0
Parch                                   0
Ticket                  STON/O 2. 3101274
Fare                                7.125
Cabin                                 NaN
Embarked                                S
Name: 433, dtype: object
434 PassengerId                          435
Survived                               0
Pclass                                 1
Name           Silvey, Mr. William Baird
Sex                                 male
Age                                   50
SibSp                                  1
Parch                                  0
Ticket                             13507
Fare                                55.9
Cabin                                E44
Embarked                               S
Name: 434, dtype: object
435 PassengerId                          436
Survived                               1
Pclass                                 1
Name           Carter, Miss. Lucile Polk
Sex                               female
Age                                   14
SibSp                                  1
Parch                                  2
Ticket                            113760
Fare                                 120
Cabin                            B96 B98
Embarked                               S
Name: 435, dtype: object
436 PassengerId                                     437
Survived                                          0
Pclass                                            3
Name           Ford, Miss. Doolina Margaret "Daisy"
Sex                                          female
Age                                              21
SibSp                                             2
Parch                                             2
Ticket                                   W./C. 6608
Fare                                         34.375
Cabin                                           NaN
Embarked                                          S
Name: 436, dtype: object
437 PassengerId                                      438
Survived                                           1
Pclass                                             2
Name           Richards, Mrs. Sidney (Emily Hocking)
Sex                                           female
Age                                               24
SibSp                                              2
Parch                                              3
Ticket                                         29106
Fare                                           18.75
Cabin                                            NaN
Embarked                                           S
Name: 437, dtype: object
438 PassengerId                  439
Survived                       0
Pclass                         1
Name           Fortune, Mr. Mark
Sex                         male
Age                           64
SibSp                          1
Parch                          4
Ticket                     19950
Fare                         263
Cabin                C23 C25 C27
Embarked                       S
Name: 438, dtype: object
439 PassengerId                                       440
Survived                                            0
Pclass                                              2
Name           Kvillner, Mr. Johan Henrik Johannesson
Sex                                              male
Age                                                31
SibSp                                               0
Parch                                               0
Ticket                                     C.A. 18723
Fare                                             10.5
Cabin                                             NaN
Embarked                                            S
Name: 439, dtype: object
440 PassengerId                                            441
Survived                                                 1
Pclass                                                   2
Name           Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Sex                                                 female
Age                                                     45
SibSp                                                    1
Parch                                                    1
Ticket                                        F.C.C. 13529
Fare                                                 26.25
Cabin                                                  NaN
Embarked                                                 S
Name: 440, dtype: object
441 PassengerId                442
Survived                     0
Pclass                       3
Name           Hampe, Mr. Leon
Sex                       male
Age                         20
SibSp                        0
Parch                        0
Ticket                  345769
Fare                       9.5
Cabin                      NaN
Embarked                     S
Name: 441, dtype: object
442 PassengerId                          443
Survived                               0
Pclass                                 3
Name           Petterson, Mr. Johan Emil
Sex                                 male
Age                                   25
SibSp                                  1
Parch                                  0
Ticket                            347076
Fare                               7.775
Cabin                                NaN
Embarked                               S
Name: 442, dtype: object
443 PassengerId                          444
Survived                               1
Pclass                                 2
Name           Reynaldo, Ms. Encarnacion
Sex                               female
Age                                   28
SibSp                                  0
Parch                                  0
Ticket                            230434
Fare                                  13
Cabin                                NaN
Embarked                               S
Name: 443, dtype: object
444 PassengerId                                  445
Survived                                       1
Pclass                                         3
Name           Johannesen-Bratthammer, Mr. Bernt
Sex                                         male
Age                                          NaN
SibSp                                          0
Parch                                          0
Ticket                                     65306
Fare                                      8.1125
Cabin                                        NaN
Embarked                                       S
Name: 444, dtype: object
445 PassengerId                          446
Survived                               1
Pclass                                 1
Name           Dodge, Master. Washington
Sex                                 male
Age                                    4
SibSp                                  0
Parch                                  2

Name: 638, dtype: object
639 PassengerId                           640
Survived                                0
Pclass                                  3
Name           Thorneycroft, Mr. Percival
Sex                                  male
Age                                   NaN
SibSp                                   1
Parch                                   0
Ticket                             376564
Fare                                 16.1
Cabin                                 NaN
Embarked                                S
Name: 639, dtype: object
640 PassengerId                       641
Survived                            0
Pclass                              3
Name           Jensen, Mr. Hans Peder
Sex                              male
Age                                20
SibSp                               0
Parch                               0
Ticket                         350050
Fare                           7.8542
Cabin                             NaN
Embarked                            S
Name: 640, dtype: object
641 PassengerId                     642
Survived                          1
Pclass                            1
Name           Sagesser, Mlle. Emma
Sex                          female
Age                              24
SibSp                             0
Parch                             0
Ticket                     PC 17477
Fare                           69.3
Cabin                           B35
Embarked                          C
Name: 641, dtype: object
642 PassengerId                              643
Survived                                   0
Pclass                                     3
Name           Skoog, Miss. Margit Elizabeth
Sex                                   female
Age                                        2
SibSp                                      3
Parch                                      2
Ticket                                347088
Fare                                    27.9
Cabin                                    NaN
Embarked                                   S
Name: 642, dtype: object
643 PassengerId                644
Survived                     1
Pclass                       3
Name           Foo, Mr. Choong
Sex                       male
Age                        NaN
SibSp                        0
Parch                        0
Ticket                    1601
Fare                   56.4958
Cabin                      NaN
Embarked                     S
Name: 643, dtype: object
644 PassengerId                       645
Survived                            1
Pclass                              3
Name           Baclini, Miss. Eugenie
Sex                            female
Age                              0.75
SibSp                               2
Parch                               1
Ticket                           2666
Fare                          19.2583
Cabin                             NaN
Embarked                            C
Name: 644, dtype: object
645 PassengerId                          646
Survived                               1
Pclass                                 1
Name           Harper, Mr. Henry Sleeper
Sex                                 male
Age                                   48
SibSp                                  1
Parch                                  0
Ticket                          PC 17572
Fare                             76.7292
Cabin                                D33
Embarked                               C
Name: 645, dtype: object
646 PassengerId                  647
Survived                       0
Pclass                         3
Name           Cor, Mr. Liudevit
Sex                         male
Age                           19
SibSp                          0
Parch                          0
Ticket                    349231
Fare                      7.8958
Cabin                        NaN
Embarked                       S
Name: 646, dtype: object
647 PassengerId                                    648
Survived                                         1
Pclass                                           1
Name           Simonius-Blumer, Col. Oberst Alfons
Sex                                           male
Age                                             56
SibSp                                            0
Parch                                            0
Ticket                                       13213
Fare                                          35.5
Cabin                                          A26
Embarked                                         C
Name: 647, dtype: object
648 PassengerId                   649
Survived                        0
Pclass                          3
Name           Willey, Mr. Edward
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket              S.O./P.P. 751
Fare                         7.55
Cabin                         NaN
Embarked                        S
Name: 648, dtype: object
649 PassengerId                                650
Survived                                     1
Pclass                                       3
Name           Stanley, Miss. Amy Zillah Elsie
Sex                                     female
Age                                         23
SibSp                                        0
Parch                                        0
Ticket                                CA. 2314
Fare                                      7.55
Cabin                                      NaN
Embarked                                     S
Name: 649, dtype: object
650 PassengerId                  651
Survived                       0
Pclass                         3
Name           Mitkoff, Mr. Mito
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                    349221
Fare                      7.8958
Cabin                        NaN
Embarked                       S
Name: 650, dtype: object
651 PassengerId                    652
Survived                         1
Pclass                           2
Name           Doling, Miss. Elsie
Sex                         female
Age                             18
SibSp                            0
Parch                            1
Ticket                      231919
Fare                            23
Cabin                          NaN
Embarked                         S
Name: 651, dtype: object
652 PassengerId                               653
Survived                                    0
Pclass                                      3
Name           Kalvik, Mr. Johannes Halvorsen
Sex                                      male
Age                                        21
SibSp                                       0
Parch                                       0
Ticket                                   8475
Fare                                   8.4333
Cabin                                     NaN
Embarked                                    S
Name: 652, dtype: object
653 PassengerId                              654
Survived                                   1
Pclass                                     3
Name           O'Leary, Miss. Hanora "Norah"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330919
Fare                                  7.8292
Cabin                                    NaN
Embarked                                   Q
Name: 653, dtype: object
654 PassengerId                             655
Survived                                  0
Pclass                                    3
Name           Hegarty, Miss. Hanora "Nora"
Sex                                  female
Age                                      18
SibSp                                     0
Parch                                     0
Ticket                               365226
Fare                                   6.75
Cabin                                   NaN
Embarked                                  Q
Name: 654, dtype: object
655 PassengerId                          656
Survived                               0
Pclass                                 2
Name           Hickman, Mr. Leonard Mark
Sex                                 male
Age                                   24
SibSp                                  2
Parch                                  0
Ticket                      S.O.C. 14879
Fare                                73.5
Cabin                                NaN
Embarked                               S
Name: 655, dtype: object
656 PassengerId                      657
Survived                           0
Pclass                             3
Name           Radeff, Mr. Alexander
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                        349223
Fare                          7.8958
Cabin                            NaN
Embarked                           S
Name: 656, dtype: object
657 PassengerId                              658
Survived                                   0
Pclass                                     3
Name           Bourke, Mrs. John (Catherine)
Sex                                   female
Age                                       32
SibSp                                      1
Parch                                      1
Ticket                                364849
Fare                                    15.5
Cabin                                    NaN
Embarked                                   Q
Name: 657, dtype: object
658 PassengerId                             659
Survived                                  0
Pclass                                    2
Name           Eitemiller, Mr. George Floyd
Sex                                    male
Age                                      23
SibSp                                     0
Parch                                     0
Ticket                                29751
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 658, dtype: object
659 PassengerId                           660
Survived                                0
Pclass                                  1
Name           Newell, Mr. Arthur Webster
Sex                                  male
Age                                    58
SibSp                                   0
Parch                                   2
Ticket                              35273
Fare                              113.275
Cabin                                 D48
Embarked                                C
Name: 659, dtype: object
660 PassengerId                              661
Survived                                   1
Pclass                                     1
Name           Frauenthal, Dr. Henry William
Sex                                     male
Age                                       50
SibSp                                      2
Parch                                      0
Ticket                              PC 17611
Fare                                  133.65
Cabin                                    NaN
Embarked                                   S
Name: 660, dtype: object
661 PassengerId                  662
Survived                       0
Pclass                         3
Name           Badt, Mr. Mohamed
Sex                         male
Age                           40
SibSp                          0
Parch                          0
Ticket                      2623
Fare                       7.225
Cabin                        NaN
Embarked                       C
Name: 661, dtype: object
662 PassengerId                           663
Survived                                0
Pclass                                  1
Name           Colley, Mr. Edward Pomeroy
Sex                                  male
Age                                    47
SibSp                                   0
Parch                                   0
Ticket                               5727
Fare                              25.5875
Cabin                                 E58
Embarked                                S
Name: 662, dtype: object
663 PassengerId                 664
Survived                      0
Pclass                        3
Name           Coleff, Mr. Peju
Sex                        male
Age                          36
SibSp                         0
Parch                         0
Ticket                   349210
Fare                     7.4958
Cabin                       NaN
Embarked                      S
Name: 663, dtype: object
664 PassengerId                            665
Survived                                 1
Pclass                                   3
Name           Lindqvist, Mr. Eino William
Sex                                   male
Age                                     20
SibSp                                    1
Parch                                    0
Ticket                   STON/O 2. 3101285
Fare                                 7.925
Cabin                                  NaN
Embarked                                 S
Name: 664, dtype: object
665 PassengerId                   666
Survived                        0
Pclass                          2
Name           Hickman, Mr. Lewis
Sex                          male
Age                            32
SibSp                           2
Parch                           0
Ticket               S.O.C. 14879
Fare                         73.5
Cabin                         NaN
Embarked                        S
Name: 665, dtype: object
666 PassengerId                            667
Survived                                 0
Pclass                                   2
Name           Butler, Mr. Reginald Fenton
Sex                                   male
Age                                     25
SibSp                                    0
Parch                                    0
Ticket                              234686
Fare                                    13
Cabin                                  NaN
Embarked                                 S
Name: 666, dtype: object
667 PassengerId                           668
Survived                                0
Pclass                                  3
Name           Rommetvedt, Mr. Knud Paust
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                             312993
Fare                                7.775
Cabin                                 NaN
Embarked                                S
Name: 667, dtype: object
668 PassengerId                669
Survived                     0
Pclass                       3
Name           Cook, Mr. Jacob
Sex                       male
Age                         43
SibSp                        0
Parch                        0
Ticket                A/5 3536
Fare                      8.05
Cabin                      NaN
Embarked                     S
Name: 668, dtype: object
669 PassengerId                                                  670
Survived                                                       1
Pclass                                                         1
Name           Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Sex                                                       female
Age                                                          NaN
SibSp                                                          1
Parch                                                          0
Ticket                                                     19996
Fare                                                          52
Cabin                                                       C126
Embarked                                                       S
Name: 669, dtype: object
670 PassengerId                                                  671
Survived                                                       1
Pclass                                                         2
Name           Brown, Mrs. Thomas William Solomon (Elizabeth ...
Sex                                                       female
Age                                                           40
SibSp                                                          1
Parch                                                          1
Ticket                                                     29750
Fare                                                          39
Cabin                                                        NaN
Embarked                                                       S
Name: 670, dtype: object
671 PassengerId                       672
Survived                            0
Pclass                              1
Name           Davidson, Mr. Thornton
Sex                              male
Age                                31
SibSp                               1
Parch                               0
Ticket                     F.C. 12750
Fare                               52
Cabin                             B71
Embarked                            S
Name: 671, dtype: object
672 PassengerId                            673
Survived                                 0
Pclass                                   2
Name           Mitchell, Mr. Henry Michael
Sex                                   male
Age                                     70
SibSp                                    0
Parch                                    0
Ticket                          C.A. 24580
Fare                                  10.5
Cabin                                  NaN
Embarked                                 S
Name: 672, dtype: object
673 PassengerId                      674
Survived                           1
Pclass                             2
Name           Wilhelms, Mr. Charles
Sex                             male
Age                               31
SibSp                              0
Parch                              0
Ticket                        244270
Fare                              13
Cabin                            NaN
Embarked                           S
Name: 673, dtype: object
674 PassengerId                           675
Survived                                0
Pclass                                  2
Name           Watson, Mr. Ennis Hastings
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                             239856
Fare                                    0
Cabin                                 NaN
Embarked                                S
Name: 674, dtype: object
675 PassengerId                               676
Survived                                    0
Pclass                                      3
Name           Edvardsson, Mr. Gustaf Hjalmar
Sex                                      male
Age                                        18
SibSp                                       0
Parch                                       0
Ticket                                 349912
Fare                                    7.775
Cabin                                     NaN
Embarked                                    S
Name: 675, dtype: object
676 PassengerId                              677
Survived                                   0
Pclass                                     3
Name           Sawyer, Mr. Frederick Charles
Sex                                     male
Age                                     24.5
SibSp                                      0
Parch                                      0
Ticket                                342826
Fare                                    8.05
Cabin                                    NaN
Embarked                                   S

Name: 812, dtype: object
813 PassengerId                                   814
Survived                                        0
Pclass                                          3
Name           Andersson, Miss. Ebba Iris Alfrida
Sex                                        female
Age                                             6
SibSp                                           4
Parch                                           2
Ticket                                     347082
Fare                                       31.275
Cabin                                         NaN
Embarked                                        S
Name: 813, dtype: object
814 PassengerId                           815
Survived                                0
Pclass                                  3
Name           Tomlin, Mr. Ernest Portage
Sex                                  male
Age                                  30.5
SibSp                                   0
Parch                                   0
Ticket                             364499
Fare                                 8.05
Cabin                                 NaN
Embarked                                S
Name: 814, dtype: object
815 PassengerId                 816
Survived                      0
Pclass                        1
Name           Fry, Mr. Richard
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   112058
Fare                          0
Cabin                      B102
Embarked                      S
Name: 815, dtype: object
816 PassengerId                             817
Survived                                  0
Pclass                                    3
Name           Heininen, Miss. Wendla Maria
Sex                                  female
Age                                      23
SibSp                                     0
Parch                                     0
Ticket                     STON/O2. 3101290
Fare                                  7.925
Cabin                                   NaN
Embarked                                  S
Name: 816, dtype: object
817 PassengerId                   818
Survived                        0
Pclass                          2
Name           Mallet, Mr. Albert
Sex                          male
Age                            31
SibSp                           1
Parch                           1
Ticket            S.C./PARIS 2079
Fare                      37.0042
Cabin                         NaN
Embarked                        C
Name: 817, dtype: object
818 PassengerId                                 819
Survived                                      0
Pclass                                        3
Name           Holm, Mr. John Fredrik Alexander
Sex                                        male
Age                                          43
SibSp                                         0
Parch                                         0
Ticket                                   C 7075
Fare                                       6.45
Cabin                                       NaN
Embarked                                      S
Name: 818, dtype: object
819 PassengerId                             820
Survived                                  0
Pclass                                    3
Name           Skoog, Master. Karl Thorsten
Sex                                    male
Age                                      10
SibSp                                     3
Parch                                     2
Ticket                               347088
Fare                                   27.9
Cabin                                   NaN
Embarked                                  S
Name: 819, dtype: object
820 PassengerId                                                  821
Survived                                                       1
Pclass                                                         1
Name           Hays, Mrs. Charles Melville (Clara Jennings Gr...
Sex                                                       female
Age                                                           52
SibSp                                                          1
Parch                                                          1
Ticket                                                     12749
Fare                                                        93.5
Cabin                                                        B69
Embarked                                                       S
Name: 820, dtype: object
821 PassengerId                  822
Survived                       1
Pclass                         3
Name           Lulic, Mr. Nikola
Sex                         male
Age                           27
SibSp                          0
Parch                          0
Ticket                    315098
Fare                      8.6625
Cabin                        NaN
Embarked                       S
Name: 821, dtype: object
822 PassengerId                                823
Survived                                     0
Pclass                                       1
Name           Reuchlin, Jonkheer. John George
Sex                                       male
Age                                         38
SibSp                                        0
Parch                                        0
Ticket                                   19972
Fare                                         0
Cabin                                      NaN
Embarked                                     S
Name: 822, dtype: object
823 PassengerId                   824
Survived                        1
Pclass                          3
Name           Moor, Mrs. (Beila)
Sex                        female
Age                            27
SibSp                           0
Parch                           1
Ticket                     392096
Fare                       12.475
Cabin                        E121
Embarked                        S
Name: 823, dtype: object
824 PassengerId                             825
Survived                                  0
Pclass                                    3
Name           Panula, Master. Urho Abraham
Sex                                    male
Age                                       2
SibSp                                     4
Parch                                     1
Ticket                              3101295
Fare                                39.6875
Cabin                                   NaN
Embarked                                  S
Name: 824, dtype: object
825 PassengerId                826
Survived                     0
Pclass                       3
Name           Flynn, Mr. John
Sex                       male
Age                        NaN
SibSp                        0
Parch                        0
Ticket                  368323
Fare                      6.95
Cabin                      NaN
Embarked                     Q
Name: 825, dtype: object
826 PassengerId             827
Survived                  0
Pclass                    3
Name           Lam, Mr. Len
Sex                    male
Age                     NaN
SibSp                     0
Parch                     0
Ticket                 1601
Fare                56.4958
Cabin                   NaN
Embarked                  S
Name: 826, dtype: object
827 PassengerId                      828
Survived                           1
Pclass                             2
Name           Mallet, Master. Andre
Sex                             male
Age                                1
SibSp                              0
Parch                              2
Ticket               S.C./PARIS 2079
Fare                         37.0042
Cabin                            NaN
Embarked                           C
Name: 827, dtype: object
828 PassengerId                             829
Survived                                  1
Pclass                                    3
Name           McCormack, Mr. Thomas Joseph
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               367228
Fare                                   7.75
Cabin                                   NaN
Embarked                                  Q
Name: 828, dtype: object
829 PassengerId                                          830
Survived                                               1
Pclass                                                 1
Name           Stone, Mrs. George Nelson (Martha Evelyn)
Sex                                               female
Age                                                   62
SibSp                                                  0
Parch                                                  0
Ticket                                            113572
Fare                                                  80
Cabin                                                B28
Embarked                                             NaN
Name: 829, dtype: object
830 PassengerId                                        831
Survived                                             1
Pclass                                               3
Name           Yasbeck, Mrs. Antoni (Selini Alexander)
Sex                                             female
Age                                                 15
SibSp                                                1
Parch                                                0
Ticket                                            2659
Fare                                           14.4542
Cabin                                              NaN
Embarked                                             C
Name: 830, dtype: object
831 PassengerId                                832
Survived                                     1
Pclass                                       2
Name           Richards, Master. George Sibley
Sex                                       male
Age                                       0.83
SibSp                                        1
Parch                                        1
Ticket                                   29106
Fare                                     18.75
Cabin                                      NaN
Embarked                                     S
Name: 831, dtype: object
832 PassengerId               833
Survived                    0
Pclass                      3
Name           Saad, Mr. Amin
Sex                      male
Age                       NaN
SibSp                       0
Parch                       0
Ticket                   2671
Fare                   7.2292
Cabin                     NaN
Embarked                    C
Name: 832, dtype: object
833 PassengerId                       834
Survived                            0
Pclass                              3
Name           Augustsson, Mr. Albert
Sex                              male
Age                                23
SibSp                               0
Parch                               0
Ticket                         347468
Fare                           7.8542
Cabin                             NaN
Embarked                            S
Name: 833, dtype: object
834 PassengerId                       835
Survived                            0
Pclass                              3
Name           Allum, Mr. Owen George
Sex                              male
Age                                18
SibSp                               0
Parch                               0
Ticket                           2223
Fare                              8.3
Cabin                             NaN
Embarked                            S
Name: 834, dtype: object
835 PassengerId                            836
Survived                                 1
Pclass                                   1
Name           Compton, Miss. Sara Rebecca
Sex                                 female
Age                                     39
SibSp                                    1
Parch                                    1
Ticket                            PC 17756
Fare                               83.1583
Cabin                                  E49
Embarked                                 C
Name: 835, dtype: object
836 PassengerId                 837
Survived                      0
Pclass                        3
Name           Pasic, Mr. Jakob
Sex                        male
Age                          21
SibSp                         0
Parch                         0
Ticket                   315097
Fare                     8.6625
Cabin                       NaN
Embarked                      S
Name: 836, dtype: object
837 PassengerId                    838
Survived                         0
Pclass                           3
Name           Sirota, Mr. Maurice
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      392092
Fare                          8.05
Cabin                          NaN
Embarked                         S
Name: 837, dtype: object
838 PassengerId                839
Survived                     1
Pclass                       3
Name           Chip, Mr. Chang
Sex                       male
Age                         32
SibSp                        0
Parch                        0
Ticket                    1601
Fare                   56.4958
Cabin                      NaN
Embarked                     S
Name: 838, dtype: object
839 PassengerId                     840
Survived                          1
Pclass                            1
Name           Marechal, Mr. Pierre
Sex                            male
Age                             NaN
SibSp                             0
Parch                             0
Ticket                        11774
Fare                           29.7
Cabin                           C47
Embarked                          C
Name: 839, dtype: object
840 PassengerId                            841
Survived                                 0
Pclass                                   3
Name           Alhomaki, Mr. Ilmari Rudolf
Sex                                   male
Age                                     20
SibSp                                    0
Parch                                    0
Ticket                    SOTON/O2 3101287
Fare                                 7.925
Cabin                                  NaN
Embarked                                 S
Name: 840, dtype: object
841 PassengerId                         842
Survived                              0
Pclass                                2
Name           Mudd, Mr. Thomas Charles
Sex                                male
Age                                  16
SibSp                                 0
Parch                                 0
Ticket                      S.O./P.P. 3
Fare                               10.5
Cabin                               NaN
Embarked                              S
Name: 841, dtype: object
842 PassengerId                        843
Survived                             1
Pclass                               1
Name           Serepeca, Miss. Augusta
Sex                             female
Age                                 30
SibSp                                0
Parch                                0
Ticket                          113798
Fare                                31
Cabin                              NaN
Embarked                             C
Name: 842, dtype: object
843 PassengerId                           844
Survived                                0
Pclass                                  3
Name           Lemberopolous, Mr. Peter L
Sex                                  male
Age                                  34.5
SibSp                                   0
Parch                                   0
Ticket                               2683
Fare                               6.4375
Cabin                                 NaN
Embarked                                C
Name: 843, dtype: object
844 PassengerId                    845
Survived                         0
Pclass                           3
Name           Culumovic, Mr. Jeso
Sex                           male
Age                             17
SibSp                            0
Parch                            0
Ticket                      315090
Fare                        8.6625
Cabin                          NaN
Embarked                         S
Name: 844, dtype: object
845 PassengerId                    846
Survived                         0
Pclass                           3
Name           Abbing, Mr. Anthony
Sex                           male
Age                             42
SibSp                            0
Parch                            0
Ticket                   C.A. 5547
Fare                          7.55
Cabin                          NaN
Embarked                         S
Name: 845, dtype: object
846 PassengerId                         847
Survived                              0
Pclass                                3
Name           Sage, Mr. Douglas Bullen
Sex                                male
Age                                 NaN
SibSp                                 8
Parch                                 2
Ticket                         CA. 2343
Fare                              69.55
Cabin                               NaN
Embarked                              S
Name: 846, dtype: object
847 PassengerId                   848
Survived                        0
Pclass                          3
Name           Markoff, Mr. Marin
Sex                          male
Age                            35
SibSp                           0
Parch                           0
Ticket                     349213
Fare                       7.8958
Cabin                         NaN
Embarked                        C
Name: 847, dtype: object
848 PassengerId                  849
Survived                       0
Pclass                         2
Name           Harper, Rev. John
Sex                         male
Age                           28
SibSp                          0
Parch                          1
Ticket                    248727
Fare                          33
Cabin                        NaN
Embarked                       S
Name: 848, dtype: object
849 PassengerId                                             850
Survived                                                  1
Pclass                                                    1
Name           Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Sex                                                  female
Age                                                     NaN
SibSp                                                     1
Parch                                                     0
Ticket                                                17453
Fare                                                89.1042
Cabin                                                   C92
Embarked                                                  C
Name: 849, dtype: object
850 PassengerId                                        851
Survived                                             0
Pclass                                               3
Name           Andersson, Master. Sigvard Harald Elias
Sex                                               male
Age                                                  4
SibSp                                                4
Parch                                                2
Ticket                                          347082
Fare                                            31.275
Cabin                                              NaN
Embarked                                             S
Name: 850, dtype: object
851 PassengerId                    852
Survived                         0
Pclass                           3
Name           Svensson, Mr. Johan
Sex                           male

In [29]:
for index, rows in df.iterrows():
    print('Sex:', rows['Sex'], 'Fare:', rows['Fare'])

Sex: male Fare: 7.25
Sex: female Fare: 71.2833
Sex: female Fare: 7.925
Sex: female Fare: 53.1
Sex: male Fare: 8.05
Sex: male Fare: 8.4583
Sex: male Fare: 51.8625
Sex: male Fare: 21.075
Sex: female Fare: 11.1333
Sex: female Fare: 30.0708
Sex: female Fare: 16.7
Sex: female Fare: 26.55
Sex: male Fare: 8.05
Sex: male Fare: 31.275
Sex: female Fare: 7.8542
Sex: female Fare: 16.0
Sex: male Fare: 29.125
Sex: male Fare: 13.0
Sex: female Fare: 18.0
Sex: female Fare: 7.225
Sex: male Fare: 26.0
Sex: male Fare: 13.0
Sex: female Fare: 8.0292
Sex: male Fare: 35.5
Sex: female Fare: 21.075
Sex: female Fare: 31.3875
Sex: male Fare: 7.225
Sex: male Fare: 263.0
Sex: female Fare: 7.8792
Sex: male Fare: 7.8958
Sex: male Fare: 27.7208
Sex: female Fare: 146.5208
Sex: female Fare: 7.75
Sex: male Fare: 10.5
Sex: male Fare: 82.1708
Sex: male Fare: 52.0
Sex: male Fare: 7.2292
Sex: male Fare: 8.05
Sex: female Fare: 18.0
Sex: female Fare: 11.2417
Sex: female Fare: 9.475
Sex: female Fare: 21.0
Sex: male Fare: 7.8958
Sex: female Fare: 41.5792
Sex: female Fare: 7.8792
Sex: male Fare: 8.05
Sex: male Fare: 15.5
Sex: female Fare: 7.75
Sex: male Fare: 21.6792
Sex: female Fare: 17.8
Sex: male Fare: 39.6875
Sex: male Fare: 7.8
Sex: female Fare: 76.7292
Sex: female Fare: 26.0
Sex: male Fare: 61.9792
Sex: male Fare: 35.5
Sex: female Fare: 10.5
Sex: male Fare: 7.2292
Sex: female Fare: 27.75
Sex: male Fare: 46.9
Sex: male Fare: 7.2292
Sex: female Fare: 80.0
Sex: male Fare: 83.475
Sex: male Fare: 27.9
Sex: male Fare: 27.7208
Sex: male Fare: 15.2458
Sex: female Fare: 10.5
Sex: male Fare: 8.1583
Sex: female Fare: 7.925
Sex: male Fare: 8.6625
Sex: male Fare: 10.5
Sex: female Fare: 46.9
Sex: male Fare: 73.5
Sex: male Fare: 14.4542
Sex: male Fare: 56.4958
Sex: male Fare: 7.65
Sex: male Fare: 7.8958
Sex: male Fare: 8.05
Sex: male Fare: 29.0
Sex: female Fare: 12.475
Sex: male Fare: 9.0
Sex: male Fare: 9.5
Sex: female Fare: 7.7875
Sex: male Fare: 47.1
Sex: female Fare: 10.5
Sex: female Fare: 15.85
Sex: male Fare: 34.375
Sex: male Fare: 8.05
Sex: female Fare: 263.0
Sex: male Fare: 8.05
Sex: male Fare: 8.05
Sex: male Fare: 7.8542
Sex: male Fare: 61.175
Sex: male Fare: 20.575
Sex: male Fare: 7.25
Sex: male Fare: 8.05
Sex: male Fare: 34.6542
Sex: male Fare: 63.3583
Sex: female Fare: 23.0
Sex: male Fare: 26.0
Sex: female Fare: 7.8958
Sex: male Fare: 7.8958
Sex: male Fare: 77.2875
Sex: male Fare: 8.6542
Sex: male Fare: 7.925
Sex: male Fare: 7.8958
Sex: female Fare: 7.65
Sex: male Fare: 7.775
Sex: male Fare: 7.8958
Sex: female Fare: 24.15
Sex: male Fare: 52.0
Sex: female Fare: 14.4542
Sex: male Fare: 8.05
Sex: female Fare: 9.825
Sex: female Fare: 14.4583
Sex: male Fare: 7.925
Sex: male Fare: 7.75
Sex: male Fare: 21.0
Sex: male Fare: 247.5208
Sex: female Fare: 31.275
Sex: male Fare: 73.5
Sex: male Fare: 8.05
Sex: male Fare: 30.0708
Sex: female Fare: 13.0
Sex: male Fare: 77.2875
Sex: male Fare: 11.2417
Sex: male Fare: 7.75
Sex: male Fare: 7.1417
Sex: female Fare: 22.3583
Sex: male Fare: 6.975
Sex: male Fare: 7.8958
Sex: male Fare: 7.05
Sex: female Fare: 14.5
Sex: female Fare: 26.0
Sex: male Fare: 13.0
Sex: male Fare: 15.0458
Sex: female Fare: 26.2833
Sex: male Fare: 53.1
Sex: male Fare: 9.2167
Sex: male Fare: 79.2
Sex: female Fare: 15.2458
Sex: female Fare: 7.75
Sex: female Fare: 15.85
Sex: male Fare: 6.75
Sex: male Fare: 11.5
Sex: male Fare: 36.75
Sex: male Fare: 7.7958
Sex: female Fare: 34.375
Sex: male Fare: 26.0
Sex: male Fare: 13.0
Sex: male Fare: 12.525
Sex: female Fare: 66.6
Sex: male Fare: 8.05
Sex: male Fare: 14.5
Sex: male Fare: 7.3125
Sex: male Fare: 61.3792
Sex: female Fare: 7.7333
Sex: male Fare: 8.05
Sex: male Fare: 8.6625
Sex: male Fare: 69.55
Sex: male Fare: 16.1
Sex: female Fare: 15.75
Sex: male Fare: 7.775
Sex: male Fare: 8.6625
Sex: male Fare: 39.6875
Sex: male Fare: 20.525
Sex: female Fare: 55.0
Sex: female Fare: 27.9
Sex: male Fare: 25.925
Sex: male Fare: 56.4958
Sex: male Fare: 33.5
Sex: male Fare: 29.125
Sex: female Fare: 11.1333
Sex: male Fare: 7.925
Sex: male Fare: 30.6958
Sex: male Fare: 7.8542
Sex: male Fare: 25.4667
Sex: female Fare: 28.7125
Sex: male Fare: 13.0
Sex: male Fare: 0.0
Sex: female Fare: 69.55
Sex: male Fare: 15.05
Sex: male Fare: 31.3875
Sex: male Fare: 39.0
Sex: female Fare: 22.025
Sex: male Fare: 50.0
Sex: female Fare: 15.5
Sex: male Fare: 26.55
Sex: male Fare: 15.5
Sex: male Fare: 7.8958
Sex: female Fare: 13.0
Sex: male Fare: 13.0
Sex: female Fare: 7.8542
Sex: male Fare: 26.0
Sex: female Fare: 27.7208
Sex: female Fare: 146.5208
Sex: male Fare: 7.75
Sex: male Fare: 8.4042
Sex: female Fare: 7.75
Sex: female Fare: 13.0
Sex: male Fare: 9.5
Sex: male Fare: 69.55
Sex: male Fare: 6.4958
Sex: male Fare: 7.225
Sex: male Fare: 8.05
Sex: female Fare: 10.4625
Sex: male Fare: 15.85
Sex: male Fare: 18.7875
Sex: female Fare: 7.75
Sex: male Fare: 31.0
Sex: male Fare: 7.05
Sex: female Fare: 21.0
Sex: male Fare: 7.25
Sex: male Fare: 13.0
Sex: male Fare: 7.75
Sex: female Fare: 113.275
Sex: female Fare: 7.925
Sex: male Fare: 27.0
Sex: female Fare: 76.2917
Sex: male Fare: 10.5
Sex: male Fare: 8.05
Sex: male Fare: 13.0
Sex: male Fare: 8.05
Sex: male Fare: 7.8958
Sex: male Fare: 90.0
Sex: male Fare: 9.35
Sex: male Fare: 10.5
Sex: male Fare: 7.25
Sex: male Fare: 13.0
Sex: female Fare: 25.4667
Sex: female Fare: 83.475
Sex: male Fare: 7.775
Sex: male Fare: 13.5
Sex: female Fare: 31.3875
Sex: male Fare: 10.5
Sex: female Fare: 7.55
Sex: male Fare: 26.0
Sex: female Fare: 26.25
Sex: male Fare: 10.5
Sex: male Fare: 12.275
Sex: female Fare: 14.4542
Sex: female Fare: 15.5
Sex: male Fare: 10.5
Sex: male Fare: 7.125
Sex: male Fare: 7.225
Sex: male Fare: 90.0
Sex: female Fare: 7.775
Sex: female Fare: 14.5
Sex: male Fare: 52.5542
Sex: male Fare: 26.0
Sex: male Fare: 7.25
Sex: female Fare: 10.4625
Sex: male Fare: 26.55
Sex: male Fare: 16.1
Sex: female Fare: 20.2125
Sex: female Fare: 15.2458
Sex: female Fare: 79.2
Sex: female Fare: 86.5
Sex: female Fare: 512.3292
Sex: female Fare: 26.0
Sex: male Fare: 7.75
Sex: male Fare: 31.3875
Sex: male Fare: 79.65
Sex: male Fare: 0.0
Sex: female Fare: 7.75
Sex: male Fare: 10.5
Sex: male Fare: 39.6875
Sex: male Fare: 7.775
Sex: female Fare: 153.4625
Sex: female Fare: 135.6333
Sex: male Fare: 31.0
Sex: male Fare: 0.0
Sex: female Fare: 19.5
Sex: male Fare: 29.7
Sex: female Fare: 7.75
Sex: female Fare: 77.9583
Sex: female Fare: 7.75
Sex: male Fare: 0.0
Sex: male Fare: 29.125
Sex: female Fare: 20.25
Sex: male Fare: 7.75
Sex: male Fare: 7.8542
Sex: male Fare: 9.5
Sex: male Fare: 8.05
Sex: male Fare: 26.0
Sex: male Fare: 8.6625
Sex: male Fare: 9.5
Sex: male Fare: 7.8958
Sex: male Fare: 13.0
Sex: female Fare: 7.75
Sex: female Fare: 78.85
Sex: female Fare: 91.0792
Sex: male Fare: 12.875
Sex: female Fare: 8.85
Sex: male Fare: 7.8958
Sex: male Fare: 27.7208
Sex: male Fare: 7.2292
Sex: female Fare: 151.55
Sex: male Fare: 30.5
Sex: female Fare: 247.5208
Sex: female Fare: 7.75
Sex: male Fare: 23.25
Sex: male Fare: 0.0
Sex: female Fare: 12.35
Sex: male Fare: 8.05
Sex: male Fare: 151.55
Sex: female Fare: 110.8833
Sex: female Fare: 108.9
Sex: male Fare: 24.0
Sex: female Fare: 56.9292
Sex: female Fare: 83.1583
Sex: female Fare: 262.375
Sex: female Fare: 26.0
Sex: male Fare: 7.8958
Sex: male Fare: 26.25
Sex: female Fare: 7.8542
Sex: female Fare: 26.0
Sex: male Fare: 14.0
Sex: female Fare: 164.8667
Sex: female Fare: 134.5
Sex: male Fare: 7.25
Sex: male Fare: 7.8958
Sex: female Fare: 12.35
Sex: female Fare: 29.0
Sex: male Fare: 69.55
Sex: female Fare: 135.6333
Sex: male Fare: 6.2375
Sex: female Fare: 13.0
Sex: female Fare: 20.525
Sex: female Fare: 57.9792
Sex: female Fare: 23.25
Sex: male Fare: 28.5
Sex: male Fare: 153.4625
Sex: male Fare: 18.0
Sex: female Fare: 133.65
Sex: male Fare: 7.8958
Sex: male Fare: 66.6
Sex: female Fare: 134.5
Sex: male Fare: 8.05
Sex: male Fare: 35.5
Sex: male Fare: 26.0
Sex: female Fare: 263.0
Sex: male Fare: 13.0
Sex: male Fare: 13.0
Sex: male Fare: 13.0
Sex: female Fare: 13.0
Sex: female Fare: 13.0
Sex: female Fare: 16.1
Sex: male Fare: 15.9
Sex: male Fare: 8.6625
Sex: male Fare: 9.225
Sex: male Fare: 35.0
Sex: male Fare: 7.2292
Sex: male Fare: 17.8
Sex: male Fare: 7.225
Sex: male Fare: 9.5
Sex: female Fare: 55.0
Sex: female Fare: 13.0
Sex: female Fare: 7.8792
Sex: female Fare: 7.8792
Sex: male Fare: 27.9
Sex: male Fare: 27.7208
Sex: female Fare: 14.4542
Sex: male Fare: 7.05
Sex: male Fare: 15.5
Sex: male Fare: 7.25
Sex: female Fare: 75.25
Sex: female Fare: 7.2292
Sex: female Fare: 7.75
Sex: female Fare: 69.3
Sex: male Fare: 55.4417
Sex: male Fare: 6.4958
Sex: male Fare: 8.05
Sex: male Fare: 135.6333
Sex: female Fare: 21.075
Sex: female Fare: 82.1708
Sex: female Fare: 7.25
Sex: male Fare: 211.5
Sex: male Fare: 4.0125
Sex: male Fare: 7.775
Sex: female Fare: 227.525
Sex: female Fare: 15.7417
Sex: male Fare: 7.925
Sex: female Fare: 52.0
Sex: male Fare: 7.8958
Sex: male Fare: 73.5
Sex: male Fare: 46.9
Sex: female Fare: 13.0
Sex: male Fare: 7.7292
Sex: female Fare: 12.0
Sex: male Fare: 120.0
Sex: male Fare: 7.7958
Sex: male Fare: 7.925
Sex: female Fare: 113.275
Sex: female Fare: 16.7
Sex: male Fare: 7.7958
Sex: female Fare: 7.8542
Sex: male Fare: 26.0
Sex: male Fare: 10.5
Sex: female Fare: 12.65
Sex: male Fare: 7.925
Sex: male Fare: 8.05
Sex: female Fare: 9.825
Sex: male Fare: 15.85
Sex: female Fare: 8.6625
Sex: male Fare: 21.0
Sex: male Fare: 7.75
Sex: male Fare: 18.75
Sex: male Fare: 7.775
Sex: female Fare: 25.4667
Sex: male Fare: 7.8958
Sex: male Fare: 6.8583
Sex: female Fare: 90.0
Sex: male Fare: 0.0
Sex: male Fare: 7.925
Sex: female Fare: 8.05
Sex: female Fare: 32.5
Sex: female Fare: 13.0
Sex: male Fare: 13.0
Sex: female Fare: 24.15
Sex: male Fare: 7.8958
Sex: male Fare: 7.7333
Sex: male Fare: 7.875
Sex: female Fare: 14.4
Sex: male Fare: 20.2125
Sex: male Fare: 7.25
Sex: female Fare: 26.0
Sex: female Fare: 26.0
Sex: male Fare: 7.75
Sex: male Fare: 8.05
Sex: male Fare: 26.55
Sex: female Fare: 16.1
Sex: female Fare: 26.0
Sex: male Fare: 7.125
Sex: male Fare: 55.9
Sex: female Fare: 120.0
Sex: female Fare: 34.375
Sex: female Fare: 18.75
Sex: male Fare: 263.0
Sex: male Fare: 10.5
Sex: female Fare: 26.25
Sex: male Fare: 9.5
Sex: male Fare: 7.775
Sex: female Fare: 13.0
Sex: male Fare: 8.1125
Sex: male Fare: 81.8583
Sex: female Fare: 19.5
Sex: male Fare: 26.55
Sex: female Fare: 19.2583
Sex: male Fare: 30.5
Sex: male Fare: 27.75
Sex: male Fare: 19.9667
Sex: male Fare: 27.75
Sex: male Fare: 89.1042
Sex: male Fare: 8.05
Sex: male Fare: 7.8958
Sex: male Fare: 26.55
Sex: female Fare: 51.8625
Sex: female Fare: 10.5
Sex: male Fare: 7.75
Sex: male Fare: 26.55
Sex: male Fare: 8.05
Sex: male Fare: 38.5
Sex: male Fare: 13.0
Sex: male Fare: 8.05
Sex: male Fare: 7.05
Sex: male Fare: 0.0
Sex: male Fare: 26.55
Sex: male Fare: 7.725
Sex: female Fare: 19.2583
Sex: male Fare: 7.25
Sex: male Fare: 8.6625
Sex: female Fare: 27.75
Sex: female Fare: 13.7917
Sex: female Fare: 9.8375
Sex: male Fare: 52.0
Sex: male Fare: 21.0
Sex: male Fare: 7.0458
Sex: male Fare: 7.5208
Sex: female Fare: 12.2875
Sex: male Fare: 46.9
Sex: male Fare: 0.0
Sex: male Fare: 8.05
Sex: female Fare: 9.5875
Sex: male Fare: 91.0792
Sex: female Fare: 25.4667
Sex: female Fare: 90.0
Sex: male Fare: 29.7
Sex: male Fare: 8.05
Sex: male Fare: 15.9
Sex: male Fare: 19.9667
Sex: male Fare: 7.25
Sex: male Fare: 30.5
Sex: male Fare: 49.5042
Sex: male Fare: 8.05

Sex: male Fare: 14.4583
Sex: female Fare: 78.2667
Sex: male Fare: 15.1
Sex: female Fare: 151.55
Sex: male Fare: 7.7958
Sex: male Fare: 8.6625
Sex: female Fare: 7.75
Sex: female Fare: 7.6292
Sex: female Fare: 9.5875
Sex: female Fare: 86.5
Sex: male Fare: 108.9
Sex: female Fare: 26.0
Sex: male Fare: 26.55
Sex: male Fare: 22.525
Sex: male Fare: 56.4958
Sex: male Fare: 7.75
Sex: male Fare: 8.05
Sex: male Fare: 26.2875
Sex: female Fare: 59.4
Sex: male Fare: 7.4958
Sex: male Fare: 34.0208
Sex: female Fare: 10.5
Sex: male Fare: 24.15
Sex: female Fare: 26.0
Sex: male Fare: 7.8958
Sex: female Fare: 93.5
Sex: male Fare: 7.8958
Sex: male Fare: 7.225
Sex: female Fare: 57.9792
Sex: male Fare: 7.2292
Sex: male Fare: 7.75
Sex: female Fare: 10.5
Sex: male Fare: 221.7792
Sex: male Fare: 7.925
Sex: male Fare: 11.5
Sex: female Fare: 26.0
Sex: male Fare: 7.2292
Sex: male Fare: 7.2292
Sex: female Fare: 22.3583
Sex: female Fare: 8.6625
Sex: female Fare: 26.25
Sex: male Fare: 26.55
Sex: female Fare: 106.425
Sex: male Fare: 14.5
Sex: female Fare: 49.5
Sex: female Fare: 71.0
Sex: female Fare: 31.275
Sex: female Fare: 31.275
Sex: male Fare: 26.0
Sex: male Fare: 106.425
Sex: male Fare: 26.0
Sex: female Fare: 26.0
Sex: male Fare: 13.8625
Sex: male Fare: 20.525
Sex: male Fare: 36.75
Sex: male Fare: 110.8833
Sex: male Fare: 26.0
Sex: male Fare: 7.8292
Sex: male Fare: 7.225
Sex: female Fare: 7.775
Sex: male Fare: 26.55
Sex: female Fare: 39.6
Sex: male Fare: 227.525
Sex: female Fare: 79.65
Sex: female Fare: 17.4
Sex: male Fare: 7.75
Sex: male Fare: 7.8958
Sex: male Fare: 13.5
Sex: male Fare: 8.05
Sex: female Fare: 8.05
Sex: male Fare: 24.15
Sex: male Fare: 7.8958
Sex: female Fare: 21.075
Sex: male Fare: 7.2292
Sex: male Fare: 7.8542
Sex: male Fare: 10.5
Sex: female Fare: 51.4792
Sex: male Fare: 26.3875
Sex: female Fare: 7.75
Sex: male Fare: 8.05
Sex: male Fare: 14.5
Sex: female Fare: 13.0
Sex: female Fare: 55.9
Sex: female Fare: 14.4583
Sex: male Fare: 7.925
Sex: female Fare: 30.0
Sex: female Fare: 110.8833
Sex: male Fare: 26.0
Sex: male Fare: 40.125
Sex: male Fare: 8.7125
Sex: female Fare: 79.65
Sex: male Fare: 15.0
Sex: male Fare: 79.2
Sex: male Fare: 8.05
Sex: male Fare: 8.05
Sex: male Fare: 7.125
Sex: female Fare: 78.2667
Sex: male Fare: 7.25
Sex: female Fare: 7.75
Sex: male Fare: 26.0
Sex: male Fare: 24.15
Sex: female Fare: 33.0
Sex: male Fare: 0.0
Sex: male Fare: 7.225
Sex: male Fare: 56.9292
Sex: female Fare: 27.0
Sex: male Fare: 7.8958
Sex: male Fare: 42.4
Sex: male Fare: 8.05
Sex: male Fare: 26.55
Sex: male Fare: 15.55
Sex: male Fare: 7.8958
Sex: male Fare: 30.5
Sex: female Fare: 41.5792
Sex: female Fare: 153.4625
Sex: female Fare: 31.275
Sex: male Fare: 7.05
Sex: female Fare: 15.5
Sex: male Fare: 7.75
Sex: male Fare: 8.05
Sex: female Fare: 65.0
Sex: male Fare: 14.4
Sex: female Fare: 16.1
Sex: female Fare: 39.0
Sex: male Fare: 10.5
Sex: male Fare: 14.4542
Sex: male Fare: 52.5542
Sex: male Fare: 15.7417
Sex: male Fare: 7.8542
Sex: male Fare: 16.1
Sex: male Fare: 32.3208
Sex: male Fare: 12.35
Sex: female Fare: 77.9583
Sex: male Fare: 7.8958
Sex: male Fare: 7.7333
Sex: male Fare: 30.0
Sex: male Fare: 7.0542
Sex: male Fare: 30.5
Sex: male Fare: 0.0
Sex: female Fare: 27.9
Sex: female Fare: 13.0
Sex: male Fare: 7.925
Sex: male Fare: 26.25
Sex: female Fare: 39.6875
Sex: male Fare: 16.1
Sex: male Fare: 7.8542
Sex: female Fare: 69.3
Sex: female Fare: 27.9
Sex: male Fare: 56.4958
Sex: female Fare: 19.2583
Sex: male Fare: 76.7292
Sex: male Fare: 7.8958
Sex: male Fare: 35.5
Sex: male Fare: 7.55
Sex: female Fare: 7.55
Sex: male Fare: 7.8958
Sex: female Fare: 23.0
Sex: male Fare: 8.4333
Sex: female Fare: 7.8292
Sex: female Fare: 6.75
Sex: male Fare: 73.5
Sex: male Fare: 7.8958
Sex: female Fare: 15.5
Sex: male Fare: 13.0
Sex: male Fare: 113.275
Sex: male Fare: 133.65
Sex: male Fare: 7.225
Sex: male Fare: 25.5875
Sex: male Fare: 7.4958
Sex: male Fare: 7.925
Sex: male Fare: 73.5
Sex: male Fare: 13.0
Sex: male Fare: 7.775
Sex: male Fare: 8.05
Sex: female Fare: 52.0
Sex: female Fare: 39.0
Sex: male Fare: 52.0
Sex: male Fare: 10.5
Sex: male Fare: 13.0
Sex: male Fare: 0.0
Sex: male Fare: 7.775
Sex: male Fare: 8.05
Sex: female Fare: 9.8417
Sex: female Fare: 46.9
Sex: male Fare: 512.3292
Sex: female Fare: 8.1375
Sex: male Fare: 76.7292
Sex: male Fare: 9.225
Sex: male Fare: 46.9
Sex: male Fare: 39.0
Sex: male Fare: 41.5792
Sex: male Fare: 39.6875
Sex: male Fare: 10.1708
Sex: male Fare: 7.7958
Sex: female Fare: 211.3375
Sex: male Fare: 57.0
Sex: female Fare: 13.4167
Sex: male Fare: 56.4958
Sex: male Fare: 7.225
Sex: male Fare: 26.55
Sex: male Fare: 13.5
Sex: male Fare: 8.05
Sex: female Fare: 7.7333
Sex: male Fare: 110.8833
Sex: male Fare: 7.65
Sex: female Fare: 227.525
Sex: male Fare: 26.2875
Sex: female Fare: 14.4542
Sex: male Fare: 7.7417
Sex: male Fare: 7.8542
Sex: male Fare: 26.0
Sex: female Fare: 13.5
Sex: male Fare: 26.2875
Sex: female Fare: 151.55
Sex: male Fare: 15.2458
Sex: female Fare: 49.5042
Sex: male Fare: 26.55
Sex: male Fare: 52.0
Sex: male Fare: 9.4833
Sex: male Fare: 13.0
Sex: male Fare: 7.65
Sex: female Fare: 227.525
Sex: female Fare: 10.5
Sex: male Fare: 15.5
Sex: male Fare: 7.775
Sex: female Fare: 33.0
Sex: male Fare: 7.0542
Sex: male Fare: 13.0
Sex: male Fare: 13.0
Sex: male Fare: 53.1
Sex: male Fare: 8.6625
Sex: female Fare: 21.0
Sex: female Fare: 7.7375
Sex: male Fare: 26.0
Sex: female Fare: 7.925
Sex: female Fare: 211.3375
Sex: male Fare: 18.7875
Sex: male Fare: 0.0
Sex: male Fare: 13.0
Sex: male Fare: 13.0
Sex: male Fare: 16.1
Sex: female Fare: 34.375
Sex: male Fare: 512.3292
Sex: male Fare: 7.8958
Sex: male Fare: 7.8958
Sex: male Fare: 30.0
Sex: male Fare: 78.85
Sex: female Fare: 262.375
Sex: male Fare: 16.1
Sex: male Fare: 7.925
Sex: male Fare: 71.0
Sex: male Fare: 20.25
Sex: female Fare: 13.0
Sex: male Fare: 53.1
Sex: male Fare: 7.75
Sex: female Fare: 23.0
Sex: male Fare: 12.475
Sex: male Fare: 9.5
Sex: male Fare: 7.8958
Sex: female Fare: 65.0
Sex: male Fare: 14.5
Sex: male Fare: 7.7958
Sex: male Fare: 11.5
Sex: male Fare: 8.05
Sex: female Fare: 86.5
Sex: male Fare: 14.5
Sex: male Fare: 7.125
Sex: male Fare: 7.2292
Sex: female Fare: 120.0
Sex: male Fare: 7.775
Sex: female Fare: 77.9583
Sex: male Fare: 39.6
Sex: female Fare: 7.75
Sex: male Fare: 24.15
Sex: male Fare: 8.3625
Sex: male Fare: 9.5
Sex: male Fare: 7.8542
Sex: female Fare: 10.5
Sex: male Fare: 7.225
Sex: female Fare: 23.0
Sex: male Fare: 7.75
Sex: male Fare: 7.75
Sex: female Fare: 12.475
Sex: male Fare: 7.7375
Sex: female Fare: 211.3375
Sex: female Fare: 7.2292
Sex: female Fare: 57.0
Sex: male Fare: 30.0
Sex: male Fare: 23.45
Sex: male Fare: 7.05
Sex: male Fare: 7.25
Sex: female Fare: 7.4958
Sex: male Fare: 29.125
Sex: male Fare: 20.575
Sex: male Fare: 79.2
Sex: male Fare: 7.75
Sex: male Fare: 26.0
Sex: female Fare: 69.55
Sex: male Fare: 30.6958
Sex: male Fare: 7.8958
Sex: male Fare: 13.0
Sex: female Fare: 25.9292
Sex: female Fare: 8.6833
Sex: male Fare: 7.2292
Sex: female Fare: 24.15
Sex: male Fare: 13.0
Sex: female Fare: 26.25
Sex: male Fare: 120.0
Sex: male Fare: 8.5167
Sex: male Fare: 6.975
Sex: male Fare: 7.775
Sex: male Fare: 0.0
Sex: female Fare: 7.775
Sex: male Fare: 13.0
Sex: female Fare: 53.1
Sex: male Fare: 7.8875
Sex: male Fare: 24.15
Sex: male Fare: 10.5
Sex: female Fare: 31.275
Sex: male Fare: 8.05
Sex: male Fare: 0.0
Sex: female Fare: 7.925
Sex: male Fare: 37.0042
Sex: male Fare: 6.45
Sex: male Fare: 27.9
Sex: female Fare: 93.5
Sex: male Fare: 8.6625
Sex: male Fare: 0.0
Sex: female Fare: 12.475
Sex: male Fare: 39.6875
Sex: male Fare: 6.95
Sex: male Fare: 56.4958
Sex: male Fare: 37.0042
Sex: male Fare: 7.75
Sex: female Fare: 80.0
Sex: female Fare: 14.4542
Sex: male Fare: 18.75
Sex: male Fare: 7.2292
Sex: male Fare: 7.8542
Sex: male Fare: 8.3
Sex: female Fare: 83.1583
Sex: male Fare: 8.6625
Sex: male Fare: 8.05
Sex: male Fare: 56.4958
Sex: male Fare: 29.7
Sex: male Fare: 7.925
Sex: male Fare: 10.5
Sex: female Fare: 31.0
Sex: male Fare: 6.4375
Sex: male Fare: 8.6625
Sex: male Fare: 7.55
Sex: male Fare: 69.55
Sex: male Fare: 7.8958
Sex: male Fare: 33.0
Sex: female Fare: 89.1042
Sex: male Fare: 31.275
Sex: male Fare: 7.775
Sex: female Fare: 15.2458
Sex: female Fare: 39.4
Sex: female Fare: 26.0
Sex: female Fare: 9.35
Sex: female Fare: 164.8667
Sex: male Fare: 26.55
Sex: female Fare: 19.2583
Sex: male Fare: 7.2292
Sex: male Fare: 14.1083
Sex: male Fare: 11.5
Sex: female Fare: 25.9292
Sex: female Fare: 69.55
Sex: male Fare: 13.0
Sex: female Fare: 13.0
Sex: female Fare: 13.8583
Sex: male Fare: 50.4958
Sex: male Fare: 9.5
Sex: male Fare: 11.1333
Sex: male Fare: 7.8958
Sex: female Fare: 52.5542
Sex: male Fare: 5.0
Sex: male Fare: 9.0
Sex: female Fare: 24.0
Sex: female Fare: 7.225
Sex: male Fare: 9.8458
Sex: male Fare: 7.8958
Sex: male Fare: 7.8958

Sex: female Fare: 83.1583
Sex: female Fare: 26.0
Sex: male Fare: 7.8958
Sex: female Fare: 10.5167
Sex: male Fare: 10.5
Sex: male Fare: 7.05
Sex: female Fare: 29.125
Sex: male Fare: 13.0
Sex: female Fare: 30.0
Sex: female Fare: 23.45
Sex: male Fare: 30.0
Sex: male Fare: 7.75

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#for index, rows in df.iterrows():
#    if (rows.Sex == 'female') and (rows.Pclass == 3): 
#        df.at[index, 'female_smoker'] = True
#    else:
#        df.at[index, 'female_smoker'] = False

In [ ]:
#from collections import Counter
#Counter(df[''])