In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.to_datetime('2020-04-30')

Timestamp('2020-04-30 00:00:00')

In [3]:
pd.Timestamp('2020-04-30')

Timestamp('2020-04-30 00:00:00')

In [4]:
dt=pd.to_datetime('2020-04-30')
type(dt)

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
dt=pd.to_datetime(['2020-04-30','20200430','2020-Apr-30','30-April-2020'])
dt

DatetimeIndex(['2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30'], dtype='datetime64[ns]', freq=None)

In [6]:
pd.to_datetime('2020-04-30')+pd.to_timedelta(np.arange(10), 'D')

DatetimeIndex(['2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03',
               '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07',
               '2020-05-08', '2020-05-09'],
              dtype='datetime64[ns]', freq=None)

In [8]:
pd.to_datetime('2020-04-30')+pd.to_timedelta(np.arange(5), 'M')

C:\Users\Poori\AppData\Roaming\Python\Python36\site-packages\pandas\util\_decorators.py:208: FutureWarning: M and Y units are deprecated and will be removed in a future version.
  return func(*args, **kwargs)

DatetimeIndex(['2020-04-30 00:00:00', '2020-05-30 10:29:06',
               '2020-06-29 20:58:12', '2020-07-30 07:27:18',
               '2020-08-29 17:56:24'],
              dtype='datetime64[ns]', freq=None)

In [9]:
pd.date_range('2020-04-15','2020-04-30')

DatetimeIndex(['2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
               '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22',
               '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
               '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('2020-04-15',periods=7)

DatetimeIndex(['2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
               '2020-04-19', '2020-04-20', '2020-04-21'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range('2020-04-15',periods=7, freq='M')

DatetimeIndex(['2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31',
               '2020-08-31', '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

In [12]:
pd.date_range('2020-04-15',periods=7, freq='MS')

DatetimeIndex(['2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [13]:
#‘M’ indicates the last day of month while ‘MS’ stands for ‘month start’.

In [14]:
pd.date_range('2020-04-15',periods=7, freq='3D') #3 days

DatetimeIndex(['2020-04-15', '2020-04-18', '2020-04-21', '2020-04-24',
               '2020-04-27', '2020-04-30', '2020-05-03'],
              dtype='datetime64[ns]', freq='3D')

In [15]:
pd.date_range('2010',periods=10, freq='Y')

DatetimeIndex(['2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31',
               '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [16]:
pd.timedelta_range('0',periods=10,freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [18]:
dts=pd.date_range('2019-04-10',periods=30)
dts

DatetimeIndex(['2019-04-10', '2019-04-11', '2019-04-12', '2019-04-13',
               '2019-04-14', '2019-04-15', '2019-04-16', '2019-04-17',
               '2019-04-18', '2019-04-19', '2019-04-20', '2019-04-21',
               '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25',
               '2019-04-26', '2019-04-27', '2019-04-28', '2019-04-29',
               '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03',
               '2019-05-04', '2019-05-05', '2019-05-06', '2019-05-07',
               '2019-05-08', '2019-05-09'],
              dtype='datetime64[ns]', freq='D')

In [20]:
vls=np.random.random(30)
vls

array([0.99292648, 0.40834922, 0.77681786, 0.36584902, 0.92667188,
       0.58356836, 0.65297494, 0.59547353, 0.40655433, 0.52618115,
       0.83515594, 0.15929742, 0.07072473, 0.41880728, 0.79154201,
       0.05400975, 0.20051824, 0.71051116, 0.60530972, 0.98403847,
       0.39481788, 0.47101695, 0.30508379, 0.1357441 , 0.63130309,
       0.12144233, 0.07212929, 0.43102633, 0.85356648, 0.05782195])

In [22]:
df=pd.DataFrame({'values':vls},index=dts)
df.head()

              values
2019-04-10  0.992926
2019-04-11  0.408349
2019-04-12  0.776818
2019-04-13  0.365849
2019-04-14  0.926672